name: Build and Push Docker Images

on:
  push:
    branches: [ "master" ] #mono otan ginoun allages-push sto master. sta alla branches den kanei tpt
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest  #ousiastika lew sto github oti dwse m ena srvr me ubuntu-latest na kanw tin doulia mou

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3 #edw katevazw to repo ston server

      - name: Login to DockerHub
        uses: docker/login-action@v2 #kanei login sto docker automata ,me ta secrets tou github pou exw orisei
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2 #ousiastika kanei build images,tipota parapanw

      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: . #koita ston fakelo pou eisai 
          file: ./dockerfile.backend #pare to dockerfile.backend xisto 
          push: true #anevase to
          tags: gmisk/disaster-backend:latest #dwstou auto to tag.

      - name: Build and push Frontend #paromoies energeies kai gia to frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./dockerfile.frontend
          push: true
          tags: gmisk/disaster-frontend:latest